/* NotePad from line 01 to 342 Updated on 11-02-2025 By Krishna Kulkarni */
.notepad-alert-success {
  color: #4a4a4a;
  text-align: center;
  margin-top: 15px;
  position: relative;
  left: 355px;
  top: -13px;
}

.note-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  overflow-x: auto;
}

.ndewcontenerstyle {
  padding-top: 20px;
}

.note-submit-btn {
  display: block;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--primary-button-bg);
  color: var(--button-txt-color);
  border: 1px solid var(--primary-border);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.note-submit-btn:hover {
  background-color: var(--primary-button-hover);
  color: var(--button-txt-hover-color);
  border: 1px solid var(--button-border-color);
}

#edit-btn {
  position: relative;
  left: 25px;
  bottom: 7px;
}

#dlt-btn {
  position: relative;
  left: 25px;
  bottom: 7px;
}

.note-pad-text {
  border: 1px solid #5c665e;
  width: 95%;
  height: 160px;
  margin-top: 20px;
  padding: 8px;
  color: #4a4a4a;
  border-radius: 12px;
  font-size: 16px;
  background-color: #fafafa;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.note-pad-text:focus {
  border-color: #5c665e;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.note-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  height: 250px;
}

.notePadData {
  margin-top: 20px;
  width: 80%;
  border: 1px solid #bdbdbd;
  overflow-y: auto;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.notepad-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #bdbdbd;
}

.notepad-modal-content {
  background-color: white;
  margin: 10% auto;
  border-radius: 10px;
  width: 60%;
  color: #4a4a4a;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close {
  color: #757575;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
padding-top: 10px;
}

.notepad-table-data {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  border: 1px solid #bdbdbd;
  margin-top: 20px;
  table-layout: fixed;
}

.notepad-table-data th,
.notepad-table-data td {
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
}

.notepad-table-data th {
  font-size: 16px;
  background-color: var(--table-header-bg);
  color: var(--table-header-txt);
  font-weight: 500;
}

.notepad-table-data th:nth-child(1),
.notepad-table-data td:nth-child(1) {
  width: 5%;
  text-align: center;
}

.notepad-table-data th:nth-child(2),
.notepad-table-data td:nth-child(2) {
  width: 40%;
  word-wrap: break-word;
  white-space: normal;
}

.notepad-table-data th:nth-child(3),
.notepad-table-data td:nth-child(3) {
  width: 15%;
}

.notepad-table-data th:nth-child(4),
.notepad-table-data td:nth-child(4),
.notepad-table-data th:nth-child(5),
.notepad-table-data td:nth-child(5) {
  width: 6%;
  text-align: center;
}

.tabledata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.tooltip {
  visibility: hidden;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.tabledata:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.edit-btn,
.delete-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  color: white;
  background-color: #727d73;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #5c665e;
}

.note-pad-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.note-pad-edit-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  background: #fafafa;
}

.newmarginremoveform {
  margin: 0;
}
.newstylingfortable1 {
  height: 400px;
  overflow-y: scroll;
}

.newmarginremoveform {
  width: 100%;
}

/*Arshad Added CSS From Here*/
.note-pad-form {
  width: 90%;
}
