.container {
    width: 100%;
    border: 1px solid #ccc;
    background: #f9f9f9;
  }
  
  .title {
    text-align: center;
  }
  
   .form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
  } 
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 22%;
  
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .newinputforinterviewquestions {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .full-width {
    width: 60%;
    margin-top: 10px;
    position: relative;
  }
  
  .textarea-container {
    position: relative;
    width: 80%;
    margin-left:10%;
  }
  
  .textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: none;
    padding-right: 50px;
    margin-top: 5px;
  }

  
  .question-item {
    background: #e9ecef;
    padding:5px;
    border-radius: 4px;
    display: flex;
 
    margin: 5px;
    align-items: center;
  }
     .question-divider {
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0;
  } 
  
  
  .add-btn1 {
    border: 1px solid var(--primary-border);
    background-color: var(--primary-button-bg);
    color: var(--button-txt-color);
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    margin-top: 30px;

  }
  
  .add-btn1:hover {
    background-color: var(--primary-button-hover);
    color: var(--button-txt-hover-color);
  }
  .form-group-reference{

    width: 35%;
  }
  
  .form-group-Queations
  {
    width: 35%;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .submit-btn {
    background-color: var(--primary-button-bg);
    color: var(--button-txt-color);
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--primary-border);
  }
  .submit-btn:hover{
    background-color: var(--primary-button-hover);
    color: var(--button-txt-hover-color);
  }
  .table-container {
    margin-top: 20px;
    text-align: center;
  }
  
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #f8f9fa;
  }
  
  .table-header {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: khaki;
    color: white;
  }
  
  .table-data {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .theading {
    text-align: center;
  }
  
  .action-btn {
    background: none;
    border: 1px;
    color: inherit;
    font-size: 10px;
    cursor: pointer;
    padding: 5px;
    margin-left: 20%;
  }
  
  .action-btn i {
    font-size: 18px;
  }
  .questions-list{
    width: 45%;
  }

  .reference-list{
    width: 45%;
  }
  .reference-item {
    background: #e9ecef;
    padding:5px;
    border-radius: 4px;
    display: flex;
    margin: 5px;
    align-items: center;
  }
     .reference-divider {
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0;
  } 
  .newformgroupforinterviewquestionsform{
    margin-left: 10px;
    margin-right: 10px;
  }
  .newWrappedForQuestionsRef{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 36px;
    align-items: center;
  }
  .wrappedlistinterviewform{
    display: flex;
        width: 100%;
        justify-content: space-between;
        max-height: 40vh;
    overflow-y: scroll;
  }
  .newclassfortitleform{
    font-size: 24px;
    color: black;
    font-weight: 600;
  }
  .newcontainerclassforinterviewform{
    margin-top: 20px;
  }