.form-containerjdtemplate {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px #ccc;
  margin-top: 10px;
  height: 90vh;
  overflow-y: scroll;
  }
  
  .head2tagforjdtemplate {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .head4tagforjdtemplate {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .form-gridjdtemplate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
  }
  
  .inputjdtemplate, .textareajdtemplate {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 5px;
  }
  
  textarea.full-width {
    grid-column: span 2;
  }
  
  .buttonjdtemplate {
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .submit-btnjdtemplatebutton {
    margin-top: 20px;
    width: 100%;
    background: #28a745;
  }
  
  .logo-previewjdtemplate {
    height: 80px;
    margin-top: 10px;
  }
  .buttondivjdtemplateform{
    display: flex;
        margin-top: 20px;
        justify-content: space-evenly;
  }
  .inputlablesforjdtemplates{
    margin-bottom: 5px;
  }
  .delete-btnjdtemplate{
    margin-left: 10px;
  }
  @media only screen and (max-width: 700px) {
    .newcssbuttonjdtemplate {
   font-size: 10px;
    }
  }