.job-posting {
  text-align: center;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  max-width: 370px;
  width: 100%;
  margin: auto;
  border: 2px solid red;
}



.main-description-share1 {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  left: 0;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
}
.shareEDMdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-posting h2 {
  color: #ff0000;
  margin: 18px 0;
}

.short-edm-heading{
  font-size: 18px;
  font-weight: bolder;
}

.details h3 {
  margin-top: 0px;
  margin-bottom: 0; 
  color: black;
}

.details p {
  margin: 0 0; /* Space between key skill lines */
}
.details1 {
  text-align: left;
}

.salary {
  color: #ff0000;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 20px; /* Add space between Relevant Experience and Salary */
  margin-bottom: 20px; /* Increased margin to create a space */
}
.contact {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  margin: auto;
}


.details1 {
  flex-grow: 0;
  display: inline-block; /* Display details in one line */
  vertical-align: top; /* Align details to the top */
  margin-left: 10px;
}

.details1 h3 {
  margin: 0;
  margin-right: 20px;
  color: #333333;
}

.details1 p {
  margin: 0 10px 0 0; /* Space between contact details */
}

.details1 a {
  color: #0066cc;
  text-decoration: none;
}

.details1 a:hover {
  text-decoration: underline;
}

.image-container img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  /* border: 1px solid black; */
  margin-top: 10px;
}

.image-container{
  align-items: center;
  justify-content: center;
  display: flex;

}
