.main-description-share {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.971);
  padding: 50px;
  left: 0;
  height: auto;
}

.setDisplayFlextShareJd {
  display: flex;
  justify-content: center;
}

.main-description-share1 {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
  left: 0;
  height: 150%;
}


.main-description-share2 {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
  left: 0;
  height: 150%;

}

.job-post-share {
  max-width: 950px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  background-color: #ef5454;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  left: 0;
  height: auto;
}

.job-details-share a {
  text-decoration: none;
  color: black;
}

.responsibilities-share,
.requirements-share,
.preferred-qualifications-share,
.perks-share,
.positionOverview-share {
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 1px black;
}

.jd-sub-headings {
  color: black;
  font-weight: bold;
}


.job-details-share h2,
.responsibilities-share h2,
.requirements-share h2,
.preferred-qualifications-share h2,
.preferred-qualifications-share h4,
.perks-share h2 {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
}

.job-details-share p,
.responsibilities-share ul,
.requirements-share ul,
.preferred-qualifications-share ul,
.perks-share ul {
  color: black;
  font-size: 16px;
  /* line-height: 1.5; */
}

.job-details-share {
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 1px black;
  border-radius: 15px;
  margin-bottom: 5px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.setDisplayFlexForEdm {
  display: flex;
}

.job-title-share {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 4px; */
  font-size: 18px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 1px black;
  text-align: center;
}

.job-details-firstsection-share {
  border-right: 2px solid #ffd8a8;
  grid-column: span 1;
  padding: 69px;
  width: 50%;
}

.job-details-firstsection-share b,
.job-details-secondsection-share b {
  color: black;
}

.job-details-secondsection-share {
  grid-column: span 1;
  padding: 20px;
  width: 50%;
}

.job-details-share p,
.responsibilities-share p,
.requirements-share p,
.preferred-qualifications-share p,
.perks-share p {
  margin-bottom: 2px;
}

.responsibilities-share ul,
.requirements-share ul,
.preferred-qualifications-share ul,
.perks-share ul {
  list-style-type: disc;
  padding-left: 20px;
}

.apply-section-share {
  text-align: center;
}

.apply-button-share {
  margin: 5px;
  margin-top: 10px;
  background-color: var(--primary-button-bg);
  box-shadow: 0 0 5px #f2f2f2;
  color: var(--button-txt-color);
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  height: 30px;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px
}

.apply-button-share:hover {
  background-color: var(--primary-button-hover);
  color: var(--button-txt-hover-color);
  /* border: #f2f2f2; */
}

@media (max-width: 600px) {
  .job-post {
    padding: 10px;
  }
}

.job-title-share-title {
  font-size: 22px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Makes the text bold */
  margin: 0;
  padding-bottom: 10px;
}

.jd-logo {
  height: 200px;
  width: 200px;
  align-items: center;
}

.jd-logo-div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -20px;
}

.jd-employeeinfo {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  align-items: center;
  height: 40px;

}

.jd-employeeinfo h2 {
  border: 1px solid black;
  font-weight: normal;
  margin: 5px 0;
  display: flex;
}

.closeButtonDiv {
  display: flex;
  justify-content: end;
  max-width: 950px;
  margin: 0 auto;
}

.jd-employeeinfo .label {
  font-weight: bold;
  /* Bold for the labels */
  color: black;
  /* Black color for the labels */
}

.responsibilities-share i,
.requirements-share i,
.preferred-qualifications-share i {
  color: black;
  font-size: 15px;
  padding-right: 8px;
}


/* Arshad Attar Added CSS  21-10-2024. */
.share-jd-contact-div {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  text-align: center;
}

.share-jd-contact-div input {
  font-size: 16px;
  padding-left: 10px;
  height: 30px;
  /* border: 1px solid black; */
  margin-top: 8px;
}

.share-edm-input {
  width: 150px;
  padding-top: 3px;
}

@media only screen and (max-width: 700px) {
  .main-description-share {
    width: auto;
    height: 100vh;
  }

  .main-description-share2 {
    width: max-content;
    height: 100vh;
  }
}

.newpositionfixedtosharedescriptionedms {
  position: fixed;
}