@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Bg-color: #27374d;
  --button-color: #ffffff;
  --button-bg-hover-color: white;
  --button-hover-color: #27374d;
  --button-text-color: #a9a9a9;
  --text-color: gray;
  --text-hover-color: gray;
  --heading-text-color: gray;
  --button-hover-text-color: #27374d;
  --hover-effect: #a9a9a9;
  --filter-color: #27374d;
  --dailyWork-btn: #27374d;
  --button-border-color: #808080;
  --primary-button-bg: #ffffff;
  --primary-button-hover: white;
  --button-txt-color: #a9a9a9;
  --button-txt-hover-color: #27374d;
  --active-icon: green;
  --table-header-txt: white;
  --table-body-txt: #808080;
  --table-row-hover: #f0f3f5;
  --tooltip-bg: #9db2bf;
  --tooltip-txt: white;
  --sidebar-bg: #526d82;
  --sidebar-txt: white;
  --sidebar-txt-hover: white;
  --sidebar-active-item-bg: #27374d;
  --primary-border: #808080;
  --filter-button-txt:"#27374D";
  --accent-color-2: #27374d;
  --table-header-bg: #27374d;
  --profile-txt: white;
  --notification-icon-background : black;
  --notification-badge-background : red;
  --notification-icon-color : gray;
  --notification-ribben-color:#27374D;
  --active-button1-bg : #eef2f6;
  --selected-form-bg: #eef2f6;
  --mainDashboard-card-txt: white;
  --mainDashboard-card-txt-hover: gray;
  --attendance-card-bg-color:#27374D;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordion-item {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
  } 
  .accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: var(--Bg-color);
    font-size: 18px;
}
.accordion-title {
    font-weight: bold;
    color: white;
  }
  
  .accordion-content {
    padding: 10px;
    color:var(--text-color);
    font-size: 16px;
  }

  .accordion-item-SU,.accordion-item-M{
    margin: 15px;
    overflow: hidden;
    border-radius: 15px;
  }
  .accordion-header-SU,.accordion-header-M{
    cursor: pointer;
    padding: 10px;
    background-color: var(--Bg-color);
    font-size: 16px;
    color:var(--text-color);
  }

  .manager-data-transfer,.teamleader-data-transfer{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .old-manager-data,.new-manager-data,.old-teamleader-data,.new-teamleader-data{
    grid-column: span 1 / span 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    color:var(--text-color);

  }
  .old-manager-data h1,.new-manager-data h1,.old-teamleader-data h1,.new-teamleader-data h1{
   font-size: 18px;
   font-weight: bold;
  }

  .ShareFunc_Loading_Animation {
    width: 100%;
    background: #00000052;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    z-index: 759845455622656;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-error {
    border: 1px solid rgba(255, 0, 0, 0.497);  
    box-shadow: 0 0 5px red;
  }
  .error-message {
    color: red;
    font-size: 0.875em;
  }

  .Toastify__toast {
    background-color: black ;
    color: white !important;
    
  }