/* Akash_Pawar_SendClientEmail_09/07 */
.SCE-list-container {
  position: relative;
}

.select-button {
  position: absolute;
  top: 2px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ffcb9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}

.select-button:hover {
  background-color: white;
  color: #ffcb9b;
}

.button-group {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.select-all-button,
.share-button {
  padding: 5px;
  background-color: #ffcb9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 15px;
}

.select-all-button:hover,
.share-button:hover {
  background-color: white;
  color: #ffcb9b;
}

.SCE-Filter-btn,
.SCE-share-btn,
.SCE-share-close-btn,
.SCE-share-select-btn,
.SCE-forward-btn,
.SCE-share-forward-popup-btn,
.SCE-close-forward-popup-btn {
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--button-color);
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 10px;
}

.SCE-Filter-btn:hover,
.SCE-share-close-btn:hover,
.SCE-share-btn:hover,
.SCE-share-select-btn:hover,
.SCE-forward-btn:hover,
.SCE-share-forward-popup-btn:hover,
.SCE-close-forward-popup-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  opacity: 0.8;
}

.SCE-close-forward-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SCE_Loading_Animation {
  width: 100%;
  background: #00000052;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  z-index: 759845455622656;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* Arshad Attar Added This 21-10-2024 */
.profile-btn {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  width: 120px;
}

/* Profile Pending - Gray */
.profile-btn.pending {
  background-color: #a9a9a9;
  box-shadow: 0 0 5px rgba(169, 169, 169, 0.8);
}
.profile-btn.pending:hover {
  box-shadow: 0 0 10px rgba(169, 169, 169, 1);
}

/* Profile Sent - Blue */
.profile-btn.sent {
  background-color: #4682b4;
  box-shadow: 0 0 5px rgba(70, 130, 180, 0.8);
}
.profile-btn.sent:hover {
  box-shadow: 0 0 10px rgba(70, 130, 180, 1);
}

/* Profile Rejected - Red */
.profile-btn.rejected {
  background-color: red;
  box-shadow: 0 0 5px rgba(237, 12, 12, 0.8);
}
.profile-btn.rejected:hover {
  box-shadow: 0 0 5px rgba(237, 12, 12, 0.8);
}

/* Profile Selected - Green */
.profile-btn.selected {
  background-color: #32cd32;
  box-shadow: 0 0 5px rgba(50, 205, 50, 0.8);
}
.profile-btn.selected:hover {
  box-shadow: 0 0 10px rgba(50, 205, 50, 1);
}

/* No Response - Orange */
.profile-btn.no-response {
  background-color: #ffa500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.8);
}
.profile-btn.no-response:hover {
  box-shadow: 0 0 10px rgba(255, 165, 0, 1);
}

/* Profile On Hold - Yellow */
.profile-btn.on-hold {
  background-color: #ffd700;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
}
.profile-btn.on-hold:hover {
  box-shadow: 0 0 10px rgba(255, 215, 0, 1);
}


/* Arshad added CSS 13-11-2024 */

.update-profile-drop-down {
  width: 200px;
  max-width: 250px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  appearance: none; /* Removes default dropdown arrow for customization */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.update-profile-drop-down:focus {
  box-shadow: 0 0 5px rgba(243, 199, 118, 0.5);
  outline: none;
}

.update-profile-drop-down option {
  color: #333;
  background-color: #fff;
  padding-bottom: 10px;
}
